<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改论文')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-paperReview-edit" th:object="${paperReview}">
        <input id="id" name="id" th:field="*{id}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">论文标题：</label>
            <div class="col-sm-8">
                <input id="title" name="title" th:field="*{title}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">上传者：</label>
            <div class="col-sm-8">
                <input id="user" name="user" th:field="*{user}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group" hidden>
            <label class="col-sm-3 control-label">论文类型：</label>
            <div class="col-sm-8">
                <input id="paperType" name="paperType" th:field="*{paperType}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">作者：</label>
            <div class="col-sm-8">
                <input id="author" name="author" th:field="*{author}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group" hidden>
            <label class="col-sm-3 control-label">是否审核：</label>
            <div class="col-sm-8">
                <!--<input id="isReview" name="isReview" th:field="*{isReview}" class="form-control" type="text">-->
                <select id="isReview" name="isReview" th:field="*{isReview}"
                        th:with="type=${@dict.getType('user_yes_no')}" class="form-control">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group" hidden>
            <label class="col-sm-3 control-label">是否通过：</label>
            <div class="col-sm-8">
                <!--<input id="isPass" name="isPass" th:field="*{isPass}" class="form-control" type="text">-->
                <select id="isPass" name="isPass" th:field="*{isPass}" th:with="type=${@dict.getType('user_yes_no')}"
                        class="form-control">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                            th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group" hidden>
            <label class="col-sm-3 control-label">下载次数：</label>
            <div class="col-sm-8">
                <input id="downloadTimes" name="downloadTimes" th:field="*{downloadTimes}" class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group" hidden>
            <label class="col-sm-3 control-label">评价次数：</label>
            <div class="col-sm-8">
                <input id="appraisalTimes" name="appraisalTimes" th:field="*{appraisalTimes}" class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group" hidden>
            <label class="col-sm-3 control-label">预览次数：</label>
            <div class="col-sm-8">
                <input id="previewTimes" name="previewTimes" th:field="*{previewTimes}" class="form-control"
                       type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">论文文件路径：</label>
            <div class="col-sm-8">
                <input id="paperUrl" name="paperUrl" th:field="*{paperUrl}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group" hidden>
            <label class="col-sm-3 control-label">论文状态：</label>
            <div class="col-sm-8">
                <input id="status" name="status" th:field="*{status}" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    var prefix = ctx + "system/paperReview";
    $("#form-paperReview-edit").validate({
        rules: {
            xxxx: {
                required: true,
            },
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-paperReview-edit').serialize());
        }
    }
</script>
</body>
</html>
