<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('论文列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								论文标题：<input type="text" name="title"/>
							</li>

							<li>
								上传者：<input type="text" name="user"/>
							</li>

							<li>
								作者：<input type="text" name="author"/>
							</li>

							<li>
								是否审核：<input type="text" name="isReview"/>
							</li>

							<li>
								是否通过：<input type="text" name="isPass"/>
							</li>

							<li>
								下载次数：<input type="text" name="downloadTimes"/>
							</li>

							<li>
								评价次数：<input type="text" name="appraisalTimes"/>
							</li>

							<li>
								预览次数：<input type="text" name="previewTimes"/>
							</li>

							<li>
								论文文件路径：<input type="text" name="paperUrl"/>
							</li>

							<li>
								更新时间：<input type="text" name="updateTime"/>
							</li>

							<li>
								创建时间：<input type="text" name="createTime"/>
							</li>

							<li>
								论文状态：<input type="text" name="status"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:paper:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:paper:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:paper:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:paper:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:paper:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:paper:remove')}]];
        var prefix = ctx + "system/paper";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "论文",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'id',
					visible: false
				},
				{
					field : 'title', 
					title : '论文标题',
					sortable: true
				},
				{
					field : 'user', 
					title : '上传者',
					sortable: true
				},
				{
					field : 'author', 
					title : '作者',
					sortable: true
				},
				{
					field : 'isReview', 
					title : '是否审核',
					sortable: true
				},
				{
					field : 'isPass', 
					title : '是否通过',
					sortable: true
				},
				{
					field : 'downloadTimes', 
					title : '下载次数',
					sortable: true
				},
				{
					field : 'appraisalTimes', 
					title : '评价次数',
					sortable: true
				},
				{
					field : 'previewTimes', 
					title : '预览次数',
					sortable: true
				},
				{
					field : 'paperUrl', 
					title : '论文文件路径',
					sortable: true
				},
				{
					field : 'updateTime', 
					title : '更新时间',
					sortable: true
				},
				{
					field : 'createTime', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'status', 
					title : '论文状态',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>